@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 23%;
  width: 180px;
  height: 180px;
  bottom: -180px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 33%;
  width: 174px;
  height: 174px;
  bottom: -174px;
  animation-delay: 2s;
}
.background li:nth-child(2) {
  left: 59%;
  width: 143px;
  height: 143px;
  bottom: -143px;
  animation-delay: 3s;
}
.background li:nth-child(3) {
  left: 40%;
  width: 107px;
  height: 107px;
  bottom: -107px;
  animation-delay: 1s;
}
.background li:nth-child(4) {
  left: 6%;
  width: 178px;
  height: 178px;
  bottom: -178px;
  animation-delay: 12s;
}
.background li:nth-child(5) {
  left: 3%;
  width: 174px;
  height: 174px;
  bottom: -174px;
  animation-delay: 8s;
}
.background li:nth-child(6) {
  left: 78%;
  width: 180px;
  height: 180px;
  bottom: -180px;
  animation-delay: 25s;
}
.background li:nth-child(7) {
  left: 73%;
  width: 171px;
  height: 171px;
  bottom: -171px;
  animation-delay: 1s;
}
.background li:nth-child(8) {
  left: 49%;
  width: 131px;
  height: 131px;
  bottom: -131px;
  animation-delay: 38s;
}
.background li:nth-child(9) {
  left: 69%;
  width: 148px;
  height: 148px;
  bottom: -148px;
  animation-delay: 3s;
}

.form-login {
  width: 400px;
  height: 400px;
  margin: 150px auto;
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

.Username{
    width: 150px;
    height: 30px;
    margin: 0 auto;
    outline: none;
    border-bottom: 1px solid #000;
    border-radius: 10px;
}
.password{
    margin: 0 auto;
    width: 150px;
    height: 30px;
    margin: 0 auto;
    outline: none;
    border-bottom: 1px solid #000;
    border-radius: 10px;
}

.submit{
    width: 150px;
    height: 30px;
    margin: 30px auto;
    outline: none;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.5s ease;
}

.submit:hover{
    box-shadow: 0 0 10px #000;
}
.google{
  width: 140px;
  height: 40px;
  margin: 0 auto;
  border-radius: 10px;
  
 
}

.icon-contain{
  display: flex;
  text-align: center;
  gap: 10px;
  justify-content: center;
}
.icon-title{
 margin-top: 4px;
  height: 10px;
}