@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
* {
  box-sizing: border-box;
  font-family: "Bungee", cursive;
}

body {
  font-family: "Bungee", cursive;
  margin: 20px;
  padding: 0;
  background: #4e54c8;
}

.tittle {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  position: relative;
  left: 500px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.Order {
  border-radius: 20px;
  outline: none;
  width: 200px;
  height: 35px;
  background-color: #fff;
  transition: box-shadow 0.5s ease;
}
.Order:hover {
  box-shadow: 10px 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: block;
}

.status {
  color: #fff;
  margin-bottom: 10px;
}
.game {
  display: flex;
  gap: 150px;
}
.game-board {
  margin-left: 50px;
  justify-content: center;
  align-items: center;
}

.crud {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 150px;
}

.game-info {
  color: #fff;
  margin-top: 20px;
}

.square.highlight {
  background: #ddd;
}
.movimiento {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tittleWIners {
  color: #fff;
}
.searchWinner {
  font-size: 20px;
}
.InputSearchWinner {
  width: 200px;
  height: 35px;
  outline: none;
  border-radius: 20px;
  border: 2px solid #000;
  margin-right: 20px;
}
.InputSearchWinner::placeholder {
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
.InputSearchWinner:focus {
  text-align: center;
}

.ButtonSearchWinner {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  outline: none;
  border: #000;
  background-color: #fff;
  transition: box-shadow 0.5s ease;
}
.ButtonSearchWinner:hover {
  box-shadow: 10px 10px;
}
.tittleUpdate {
  font-size: 20px;
}

.IngresarId {
  width: 200px;
  height: 35px;
  outline: none;
  border-radius: 20px;
  border: 2px solid #000;
  margin-right: 20px;
}
.IngresarId::placeholder {
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.IngresarId:focus {
  text-align: center;
}

.IngresarNombre {
  width: 200px;
  height: 35px;
  outline: none;
  border-radius: 20px;
  border: 2px solid #000;
  margin-right: 20px;
}
.IngresarNombre::placeholder {
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
.IngresarNombre:focus {
  text-align: center;
}

.update {
  width: 110px;
  height: 30px;
  border-radius: 20px;
  outline: none;
  border: #000;
  background-color: #fff;
  transition: box-shadow 0.5s ease;
}
.update:hover {
  box-shadow: 10px 10px;
}

.tittleDelete{
font-size: 20px;
}

.Delete {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  outline: none;
  border: #000;
  background-color: #fff;
  transition: box-shadow 0.5s ease;
}

.Delete:hover {
  box-shadow: 10px 10px;
}

.Jugada {
  width: 400px;
  height: 35px;
  outline: none;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: transparent;
  transition: box-shadow 0.5s ease;
}

.Jugada:hover {
  box-shadow: inset 0 0 10px #fff;
}